<div class="container">
  <%= render partial: "user", locals: { user: @user } %>
</div>

<div id="recipes" class="container">
  <%= render partial: "recipes/recipe", collection: @user.recipes %>
</div>