<div class="container">
  <%= render partial: "user", locals: { user: @user } %>
  <h1><%= @user.name + "'s Recipes" %></h1>
</div>

<div id="recipes" class="container">
  <%= render partial: "recipes/recipe", collection: @user.recipes %>
</div>