/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 * General Styles
 */

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  padding: 0;
  /*margin: 20px 30px 30px 30px;*/
}

input, textarea, p, li {
  font-family: "Arial", Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  color: black;
}

input {
  border: none;
  width: 100%;
}

textarea.pretty-textarea {
  border: none;
  resize: none;
  width: 100%;
  height: 1.0em;
}

h1 {
  color: black;
  margin: 0 0 25px 0;
  font-size: 2.5em;
  text-align: center;
}

.container {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
  margin-top: 60px;
}

.clear {
  clear: both;
  position: relative;
  left: 50%;
}

/*
 * Header Styles
 */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #1eb5d5;
  padding: 8px 0;
  box-shadow: 0 0 5px 0 black;
}

header .header-container {
  float: right;
  position: relative;
  left: -50%;
}

header .header-container .header-row {
  position: relative;
  left: 50%;
  width: 721px;
}

@media (max-width: 761px) {
  header .header-container .header-row {
    width: 100%;
  }
}

header .header-container .header-row .header-col {
  float: left;
  width: 33.33%;
}

.recipe-search {
  font-size: 1.25em;
  width: 150px;
  margin-top: 6px;
  background-color: inherit;
  color: white;
  border-bottom: 2px solid white;
}

header h1 {
  font-size: 2.2em;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

select.genre-filter {
  float: right;

  background-color: inherit;
  color: white;
  border: none;
  text-align: right;
  display: inline-block;
  font: inherit;
  font-size: 1.5em;
  padding: 0.25em 1.5em 0.25em 0;
  margin: 0;

  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(0.75em),
    calc(100% - 10px) calc(0.75em);
  background-size:
    10px 10px,
    10px 10px;
  background-repeat: no-repeat;
}

/*
 * Footer Styles
 */