// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.recipe {
  position: relative;
  left: 50%;
  width: 721px;
  margin-bottom: 30px;
}

@media (max-width: 761px) {
  .recipe {
    width: 100%;
  }
}

.recipe-header {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-width: 1px 1px 0 1px;
  border-color: black;
  border-style: solid;
}

.genre-baked .recipe-header {
  background-color: #82793e;
  color: white;
}

.genre-veggie .recipe-header {
  background-color: #47742C;
  color: white;
}

.genre-fish .recipe-header {
  background-color: #264483;
  color: white;
}

.genre-meat .recipe-header {
  background-color: #8C1A11;
  color: white;
}

.genre-nuts .recipe-header {
  background-color: #7A611D;
  color: white;
}

.genre-salad .recipe-header {
  background-color: #47742C;
  color: white;
}

.genre-sauce .recipe-header {
  background-color: #6B2246;
  color: white;
}

.recipe-header .recipe-title {
  font-size: 2.3em;
  line-height: normal;
  font-weight: bold;
  text-decoration: none;
  background-color: inherit;
  color: inherit;
  border: none;
}

.recipe-header .recipe-edit-button {
  float: right;
  width: 32px;
  height: 32px;
  margin-top: 5px;
}

.recipe-header .recipe-edit-button:hover {
  background-color: initial;
}

.recipe-header .recipe-author {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0 0 0;
  border: none;
  background-color: initial;
  color: inherit;
}

.recipe-body {
  padding: 20px 15px 10px 15px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: 0 1px 1px 1px;
  border-color: black;
  border-style: solid;
  font-size: 1.0em;
  line-height: 1.2em;
}

.recipe-body ul.ingredients {
  margin: 0 0 20px 0;
  padding: 0 10px 0 0;
  list-style-type: none;
}

.recipe-body ul.ingredients li {
  font-weight: bold;
  line-height: 1.4em;
}

.recipe-body .ingredients-edit {
  margin: 0 0 20px 0;
  padding: 0 10px 0 0;
  font-weight: bold;
  line-height: 1.4em;
}

.recipe-body .instructions-edit {
  margin: 0;
  font-family: "Arial", Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
}

.recipe-body .spacer {
  clear: both;
  height: 0;
}

.recipe-body .actions {
  margin-top: 15px;
}

.recipe-body .actions input {
  padding: 5px;
  height: 100%;
}