// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Recipe Header Styles
 */

.recipe-header .recipe-author {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  background-color: initial;
  color: inherit;
  width: calc(100% - 170px);
}

/*
 * Recipe Body Styles
 */

.recipe-body ul.ingredients {
  margin: 0 0 20px 0;
  padding: 0 10px 0 0;
  list-style-type: none;
}

.recipe-body ul.ingredients li {
  font-weight: bold;
  line-height: 1.4em;
}

/*
 * Recipe Genre-Specific Styles
 */

.genre-baked .recipe-header,
.genre-baked .select-items,
.genre-baked .select-selected {
  background-color: #82793e;
}

.genre-meat .recipe-header,
.genre-meat .select-items,
.genre-meat .select-selected {
  background-color: #8C1A11;
}

.genre-sauce .recipe-header,
.genre-sauce .select-items,
.genre-sauce .select-selected {
  background-color: #6B2246;
}

.genre-seafood .recipe-header,
.genre-seafood .select-items,
.genre-seafood .select-selected {
  background-color: #264483;
}

.genre-veggie .recipe-header,
.genre-veggie .select-items,
.genre-veggie .select-selected {
  background-color: #47742C;
}

/*
 * Search Form Styles
 */ 

.search-form {
  float: right;
}

.genre-filter {
  float: left;
  width: 160px;
  margin-right: 10px;
  bottom: 0;
}

.recipe-search {
  float: left;
  border-bottom: 2px solid white;
}

.search-box {
  float: left;
  font-size: 1.5em;
  height: 36px;
  width: 190px;
  background-color: inherit;
  color: white;
  padding: 4px 8px;
}

.search-button {
  float: left;
  background-color: transparent;
  background-image: url('/assets/search.png');
  background-size: contain;
  height: 36px;
  width: 36px;
  padding: 0;
}

/*
 * Nav Button Styles
 */

.nav-button {
  float: right;
  height: 36px;
  width: 36px;
  margin-left: 10px;
  padding: 2px;
  border-radius: 5px;
  border: 2px solid white;
}

.nav-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-button img {
  height: 100%;
  width: 100%;
}

/*
 * Recipe Edit Styles
 */

.recipe-header .genre-selector {
  position: absolute;
  bottom: 10px;
  right: 15px;
  width: 160px;
}

.recipe-body .ingredients-edit {
  padding: 0 10px 0 0;
  font-weight: bold;
  line-height: 1.4em;
}

.recipe-body .instructions-edit {
  margin: 0;
  font-family: "Arial", Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
}

.recipe-body .actions {
  margin-top: 15px;
}

.recipe-body .actions input {
  padding: 5px;
  height: 100%;
}

/*
 * Delete Recipe Button Styles
 */

.delete-recipe-button {
  position: absolute;
  right: 15px;
  z-index: 99;
  height: 36px;
  width: 36px;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid white;
  padding: 2px;
}

.delete-recipe-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.delete-recipe-button img {
  height: 100%;
  width: 100%;
  z-index: 99;
}